<template>
    <div class="card-wrap" @mousedown="activateCard">
        <div class="header">
            {{data.title}}
        <div class="close-card" @click="closeCard">X</div>
        </div>
        <div class="body">
            <p>width: <span>{{`${data.width}px`}}</span></p>
            <p>height: <span>{{`${data.height}px`}}</span></p>
            <p>x: <span>{{`${data.x}px`}}</span></p>
            <p>y: <span>{{`${data.y}px`}}</span></p>
            <p>z: <span>{{data.z}}</span></p>
            <p>min-width: <span>{{$parent.min_width}}</span></p>
            <p>min-height: <span>{{$parent.min_height}}</span></p>
        </div>
    </div>
</template>

<script>
export default {
  name: "Card",
  props: ["data"],
  methods: {
    activateCard() {
      this.$store.commit("arrangeCardLayers", this.$parent.index);
    },
    closeCard() {
      this.data.closed = true;
      this.$store.commit("setActiveCard", null);
    }
  }
};
</script>

<style scoped>
.card-wrap {
  background-color: #8a8a8a;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.35);
}

.header {
  width: calc(100% - 10px);
  padding: 5px;
  height: 20px;
  background-color: lightgray;
  text-align: center;
  user-select: none;
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  font-size: 14px;
  height: calc(100% - 30px);
  width: 100%;
  user-select: none;
  overflow: auto;
  padding: 20px 0px;
}

.body > p {
  width: 90%;
  border-bottom: 1px solid rgba(210, 210, 210, 0.31);
  margin: 0;
  text-align: left;
  font-weight: bold;
}

.body > p > span {
  color: #68dea2;
  font-weight: normal;
}

.close-card {
  width: 10px;
  height: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4px;
  right: 4px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  z-index: 99;
}
</style>
