<template>
    <div class="drs-wrap" :style="getDimensions()" @mousedown="startDrag($event)">
        <slot></slot>
        <div class="handles-wrap" v-if="active" @mousedown="startResize($event)">
            <div class="handle" v-for="(handle, index) in handles" :class="handle" :key="index"></div>
        </div>
    </div>
</template>

<script>
export default {
  name: "DraggableResizable",
  props: ["bound", "index", "active", "min_width", "min_height", "grid_offset"],
  data() {
    return {
      mouseX: 0,
      mouseY: 0,
      prevMouseX: 0,
      prevMouseY: 0,
      diffX: 0,
      diffY: 0,
      dragging: false,
      resizing: false,
      activeHandler: null,
      handles: ["tl", "tm", "tr", "rm", "br", "bm", "bl", "lm"]
    };
  },
  methods: {
    getDimensions() {
      return {
        width: `${this.bound.width}px`,
        height: `${this.bound.height}px`,
        top: `${this.bound.y}px`,
        left: `${this.bound.x}px`,
        zIndex: `${this.bound.z}`
      };
    },
    setWindowListeners(moveHandler, upHandler, type) {
      window[`${type}EventListener`]("mousemove", moveHandler, true);
      window[`${type}EventListener`]("mousemove", this.processMouseMove, true);
      window[`${type}EventListener`]("mouseup", upHandler, true);
    },
    processMouseMove(e) {
      this.mouseX = e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouseY = e.pageY || e.clientY + document.documentElement.scrollTop;
      if (this.prevMouseX == 0) this.prevMouseX = this.mouseX;
      if (this.prevMouseY == 0) this.prevMouseY = this.mouseY;
      this.diffX = this.mouseX - this.prevMouseX;
      this.diffY = this.mouseY - this.prevMouseY;
      this.prevMouseX = this.mouseX;
      this.prevMouseY = this.mouseY;
    },
    resetCursorValues() {
      this.prevMouseX = 0;
      this.prevMouseY = 0;
      this.diffX = 0;
      this.diffY = 0;
    },
    startDrag(e) {
      this.setWindowListeners(this.processDrag, this.stopDrag, "add");
      this.mouseX = e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouseY = e.pageY || e.clientY + document.documentElement.scrollTop;
      this.prevMouseX = this.mouseX;
      this.prevMouseY = this.mouseY;
      this.resetCursorValues();
      this.dragging = true;
      this.$parent.selectedCardIndex = this.index;
    },
    processDrag() {
      if (this.dragging) {
        this.bound.x += this.diffX;
        this.bound.y += this.diffY;
      }
    },
    stopDrag() {
      this.setWindowListeners(this.processDrag, this.stopDrag, "remove");
      this.dragging = false;
      this.bound.x -= this.bound.x % this.grid_offset;
      this.bound.y -= this.bound.y % this.grid_offset;
    },
    startResize(e) {
      e.stopPropagation();
      this.mouseX = e.pageX || e.clientX + document.documentElement.scrollLeft;
      this.mouseY = e.pageY || e.clientY + document.documentElement.scrollTop;
      this.prevMouseX = this.mouseX;
      this.prevMouseY = this.mouseY;
      this.resetCursorValues();
      this.resizing = true;
      this.activeHandler = e.target.className.slice(-2);
      this.setWindowListeners(this.processResize, this.stopResize, "add");
    },
    processResize() {
      if (this.resizing && this.activeHandler) {
        this.preventUnderSize();
        if (["tl", "tm", "tr"].indexOf(this.activeHandler) !== -1) {
          this.bound.y += this.diffY;
          this.bound.height -= this.diffY;
          if (this.activeHandler !== "tm") {
            this.activeHandler === "tl"
              ? ((this.bound.x += this.diffX), (this.bound.width -= this.diffX))
              : (this.bound.width += this.diffX);
          }
        }
        if (["lm", "rm"].indexOf(this.activeHandler) !== -1) {
          this.activeHandler === "rm"
            ? (this.bound.width += this.diffX)
            : ((this.bound.x += this.diffX), (this.bound.width -= this.diffX));
        }
        if (["br", "bm", "bl"].indexOf(this.activeHandler) !== -1) {
          this.bound.height += this.diffY;
          if (this.activeHandler !== "bm")
            this.activeHandler === "bl"
              ? ((this.bound.x += this.diffX), (this.bound.width -= this.diffX))
              : (this.bound.width += this.diffX);
        }
      }
    },
    stopResize() {
      this.setWindowListeners(this.processResize, this.stopResize, "remove");
      this.resizing = false;
      this.activeHandler = null;
      this.bound.height -= this.bound.height % this.grid_offset;
      this.bound.width -= this.bound.width % this.grid_offset;
    },
    containsUtil(target, pattern) {
      let value = 0;
      pattern.forEach(string => {
        value += target.includes(string);
      });
      return value === 1;
    },
    preventUnderSize() {
      let h_resize_condition = this.activeHandler.includes("t")
        ? this.bound.height - this.diffY < this.bound.height
        : this.bound.height + this.diffY < this.bound.height;
      let w_resize_condition = this.containsUtil(this.activeHandler, [
        "tr",
        "rm",
        "bm",
        "br"
      ])
        ? this.bound.width + this.diffX < this.bound.width
        : this.bound.width - this.diffX < this.bound.width;
      if (
        h_resize_condition &&
        (this.bound.height + this.diffY < this.min_height ||
          this.bound.height - this.diffY < this.min_height)
      )
        this.diffY = 0;
      if (
        w_resize_condition &&
        (this.bound.width + this.diffX < this.min_width ||
          this.bound.width - this.diffX < this.min_width)
      )
        this.diffX = 0;
    }
  }
};
</script>

<style scoped>
.drs-wrap {
  position: absolute;
}

.handles-wrap {
  pointer-events: none;
}

.handle {
  pointer-events: auto;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #323132;
  position: absolute;
  user-select: none;
}

.handle.tl {
  top: -4px;
  left: -4px;
  cursor: nw-resize;
}
.handle.tm {
  top: -4px;
  left: calc(50% - 3px);
  cursor: n-resize;
}
.handle.tr {
  top: -4px;
  right: -4px;
  cursor: ne-resize;
}

.handle.rm {
  top: calc(50% - 3px);
  right: -4px;
  cursor: e-resize;
}
.handle.br {
  bottom: -4px;
  right: -4px;
  cursor: se-resize;
}
.handle.bm {
  bottom: -4px;
  left: calc(50% - 3px);
  cursor: s-resize;
}
.handle.bl {
  bottom: -4px;
  left: -4px;
  cursor: sw-resize;
}
.handle.lm {
  top: calc(50% - 3px);
  left: -4px;
  cursor: w-resize;
}
</style>
