<template>
    <div class="ws-wrap" @click="checkClickOut($event)">
        <draggable-resizable v-for="(card, index) in getCardData"
                             v-if="!card.closed"
                             :bound="card"
                             :key="index"
                             :index="index"
                             :min_width="120"
                             :min_height="120"
                             :grid_offset="10"
                             :active="index === selectedCardIndex && !card.closed">
            <card :data="card" v-if="!card.closed"></card>
        </draggable-resizable>
        <div class="notification fade-in-fwd"
             v-if="getCardData.filter(card => card.closed).length === getCardData.length">Restore Cards from the right panel</div>
        <div class="deleted-cards-wrap" v-if="getCardData.filter(card => card.closed).length">
            <div class="deleted-card fade-in-fwd" v-for="(card, index) in getCardData"
                 :key="index"
                 @click="restoreCard(index)"
                 v-if="card.closed">{{index+1}}
            </div>
        </div>
    </div>
</template>

<script>
import Card from "./Card";
import DraggableResizable from "./DraggableResizable";
import { mapGetters } from "vuex";

export default {
  name: "workspace",
  components: { Card, DraggableResizable },
  computed: {
    ...mapGetters(["getCardData"])
  },
  data() {
    return {
      selectedCardIndex: null,
      storageData: JSON.parse(
        localStorage.getItem("cardPresonalData") || null
      ) || [
        { width: 300, height: 150, x: 10, y: 10, z: 1, title: "card 1" },
        { width: 300, height: 150, x: 320, y: 10, z: 2, title: "card 2" },
        { width: 300, height: 150, x: 10, y: 170, z: 3, title: "card 3" },
        { width: 300, height: 150, x: 320, y: 170, z: 4, title: "card 4" },
        { width: 300, height: 150, x: 10, y: 330, z: 5, title: "card 5" }
      ]
    };
  },
  mounted() {
    this.fetchCardData();
    window.addEventListener("blur", this.storeCardData);
    window.addEventListener("beforeunload", this.storeCardData);
    this.$store.dispatch("addGlobalPointer", {
      name: "work_space",
      pointer: this
    });
  },
  beforeDestroy() {
    this.storeCardData();
    window.removeEventListener("blur", this.storeCardData);
    window.removeEventListener("beforeunload", this.storeCardData);
  },
  methods: {
    checkClickOut(e) {
      if (e.target === this.$el) this.selectedCardIndex = null;
    },
    storeCardData() {
      localStorage.setItem(
        "cardPresonalData",
        JSON.stringify(this.storageData)
      );
    },
    fetchCardData() {
      this.$store.dispatch("storeCards", this.storageData);
    },
    restoreCard(index) {
      let card = this.getCardData[index];
      card.closed = false;
      card.width = 300;
      card.height = 150;
      card.x = this.$el.clientWidth / 2 - 150;
      card.y = this.$el.clientHeight / 2 - 75;
      this.selectedCardIndex = index;
      this.$store.commit("arrangeCardLayers", index);
      this.$forceUpdate();
    }
  }
};
</script>

<style scoped>
.ws-wrap {
  width: 100%;
  height: 100%;
  border: 1px solid green;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deleted-cards-wrap {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 50px;
  height: auto;
  padding: 20px 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: rgba(27, 8, 0, 0.25);
}

.deleted-card {
  cursor: pointer;
  width: calc(100% - 10px);
  height: 35px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: lightgray;
  transition: background-color 0.25s ease-in-out;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.deleted-card:hover {
  background-color: #f4f4f4;
}

.notification {
  font-size: 16px;
  color: lightgray;
}
</style>
