<template>
  <div class="bc-wrap">
    <div class="controls-wrap">
      <common-button :classList="'green'" :title="'Connect'" :action="initSocketTunnel"></common-button>
      <common-button :classList="'red'" :title="'Stop'" :action="closeSocketTunnel"></common-button>
      <common-button :classList="'yellow'" :title="'Reset'" :action="resetTransactions"></common-button>
    </div>
    <div class="transaction-amount">{{`Summary ${getBTCSummary} BTC`}}</div>
    <div class="transaction-table">
      <div class="transaction-table-row header">
        <div class="table-section">From</div>
        <div class="table-section">To</div>
        <div class="table-section short">Sum</div>
      </div>
      <div class="transaction-table-row body">
        <div class="transaction-table-row" v-for="(transaction, index) in getBTCTransactions" :key="index">
          <div class="table-section">{{transaction.from}}</div>
          <div class="table-section">{{transaction.to[0]}} <br> {{transaction.to[1] || ''}}</div>
          <div class="table-section short">{{`${transaction.sum} BTC`}}</div>
        </div>
      </div>
      </div>
  </div>
</template>

<script>
import CommonButton from "@/components/CommonButton";
import { mapGetters } from "vuex";

export default {
  name: "blockchain",
  components: { CommonButton },
  computed: {
    ...mapGetters(["getBTCSummary", "getBTCTransactions"])
  },
  data() {
    return {
      socketTunnel: null,
      socketServerUrl: "wss://ws.blockchain.info/inv",
      channel: "unconfirmed_sub",
      status: "Disconnected"
    };
  },
  methods: {
    initSocketTunnel() {
      this.socketTunnel = new WebSocket(this.socketServerUrl);
      this.status = `Connecting to: ${this.socketServerUrl}`;
      this.socketTunnel.onmessage = message =>
        this.handleSocketMessage(message);
      this.socketTunnel.onerror = error => (this.status = `Error: ${error}`);
      this.socketTunnel.onopen = () => {
        this.status = "Connected";
        this.socketTunnel.send(JSON.stringify({ op: this.channel }));
      };
    },
    handleSocketMessage(message) {
      let msg = JSON.parse(message.data);
      let data = {
        from: msg.x.inputs[0].prev_out.addr,
        to: [msg.x.out[0].addr, msg.x.out[1] ? msg.x.out[1].addr : null],
        sum: msg.x.inputs[0].prev_out.value / 100000000
      };
      this.$store.commit("setTransactionData", data);
    },
    resetTransactions() {
      this.$store.commit("resetTransactions");
    },
    closeSocketTunnel() {
      this.status = "Disconnected";
      this.socketTunnel.close();
    }
  }
};
</script>

<style scoped>
.bc-wrap {
  height: calc(100vh - 84px);
  width: calc(100vw - 20px);
  margin-top: 10px;
}
.controls-wrap {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-holder {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.transaction-amount {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.transaction-table {
  width: 50vw;
  margin: 0 auto;
  max-height: 50vh;
  position: relative;
}

.transaction-table-row {
  border-bottom: 1px solid black;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 100%;
}

.transaction-table-row.header {
  border: 1px solid black;
}

.transaction-table-row.body {
  height: calc(50vh - 42px);
  max-height: calc(50vh - 42px);
  overflow: auto;
  flex-flow: wrap;
  border: 1px solid black;
  align-content: baseline;
}

.transaction-table-row > .table-section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: calc(40% - 16px);
  font-size: 11px;
  text-decoration: underline;
  max-width: calc(40% - 16px);
  overflow: auto;
  padding: 5px;
  border-right: 1px solid black;
}

.transaction-table-row > .table-section.short {
  width: 20%;
  text-decoration: none;
}

.transaction-table-row > .table-section:last-of-type {
  border-right: none;
}
</style>
