<template>
    <div class="db-wrap">
        <work-space></work-space>
        <div class="grid"></div>
    </div>
</template>

<script>
import WorkSpace from "./Dashboard/WorkSpace";

export default {
  name: "home",
  components: {
    WorkSpace
  }
};
</script>

<style scoped>
.db-wrap {
  height: calc(100vh - 84px);
  width: calc(100vw - 20px);
  margin-top: 10px;
  position: relative;
}
.grid {
  width: 100%;
  height: 100%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  left: 0%;
  z-index: -1;
  background-color: #eee9ea;
  background-image: linear-gradient(white 1px, transparent 1px),
    linear-gradient(90deg, white 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 150px 150px, 150px 150px, 10px 10px, 10px 10px;
  background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
}
</style>
