<template>
    <div class="common-button" :class="classList" @click="doAction">{{title || 'Title'}}</div>
</template>

<script>
export default {
  name: "CommonButton",
  props: ["classList", "action", "title"],
  methods: {
    doAction() {
      this.action ? this.action() : console.log(`${this.title} click`);
    }
  }
};
</script>

<style scoped>
.common-button {
  width: 125px;
  height: 15px;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 1px solid lightgray;
  background-color: #a9a9a9;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}

.common-button.green {
  background-color: #41a462;
}

.common-button.yellow {
  background-color: #cea831;
}

.common-button.red {
  background-color: #bf4224;
}
</style>
